<%- include('includes/head.ejs', {username : username}); %>

<div class="container mx-auto p-8">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
        <div class="md:flex">
            <div class="w-full p-8">
                <div class="mb-4">
                    <h1 class="title text-2xl text-center font-bold">
                    <% if(registrar) {%> Registrarse <%} else {%> Iniciar sesi칩n <% } %>
                    </h1>
                </div>
                
                <form action="/user/<% if(registrar) {%> Registrarse <%} else {%> Iniciar sesi칩n <% } %>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                            Nombre de usuario
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="username" type="text" placeholder="Usuario">
                    </div>

                    <div class="mb-6">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                            Contrase침a
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3" name="password" type="password" placeholder="******************">
                    </div>

                    <div class="flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                         value= "<% if(registrar){ %>Registrarse <% } else { %> Iniciar sesi칩n <% }%>"   
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('includes/foot.ejs'); %>

