<nav class="bg-gray-800 text-white p-4">
    <ul class="flex space-x-4 justify-center">
        <li><a href="/" class="hover:text-gray-400">Inicio</a></li>
        <li><a href="/about" class="hover:text-gray-400">Sobre Nosotros</a></li>
        <li><a href="/contact" class="hover:text-gray-400">Contacto</a></li>
        <li><a href="/form" class="hover:text-gray-400">Formulario</a></li>
    </ul>
</nav>

